body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 3px;
    padding: 3px;
    box-sizing: border-box;    
}

.wrapper > div {
    border: 1px solid white;
}

.blue { background-color: #5b9bd5; }   
.grey { background-color: #6e7d82; }   
.cyan { background-color: #5bd1d1; }   
.pink { background-color: #e16b6b; }  
.yellow { background-color: #ffc000; }
.green { background-color: #31a475; } 
.orange { background-color: #c55a11; }

@media (max-width: 499px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "blue blue"
            "cyan pink"
            "green yellow"
            "grey grey"
            "orange orange";
    }
    .blue { grid-area: blue; }
    .grey { grid-area: grey; }
    .cyan { grid-area: cyan; }
    .pink { grid-area: pink; }
    .yellow { grid-area: yellow; }
    .green { grid-area: green; }
    .orange { grid-area: orange; }
}

@media (min-width: 750px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "blue blue grey"
            "cyan pink grey"
            "green yellow grey"
            "orange orange orange";
    }
}

@media (min-width: 950px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-areas:
            "blue blue blue grey"
            "cyan pink yellow grey"
            "green green yellow grey"
            "orange orange orange orange";
    }
}

@media (min-width: 1200px) {
    .wrapper {
        grid-template-columns: 1.2fr 1.2fr 1.5fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 0.8fr;
        grid-template-areas:
            "blue blue blue grey"
            "cyan pink yellow grey"
            "green green yellow grey"
            "orange orange orange orange";
    }
}